body{
    background-color: #5CB8E4;
    font-family: "Ubuntu";
  }
  .form-group{
    margin-left: 300px;
    background-color: #EEEEEE;
    margin-bottom: 0;
  }
  body{
    background-color: #5CB8E4;
    font-family: "Ubuntu";
  }
  .form-group{
    margin-left: 300px;
    background-color: #EEEEEE;
    margin-bottom: 0;
  }
  